/*------------- header styles ------------- */
header{
 height: 770px;
 background: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0.5)),url(images/main.png);
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
 color: white;
 position: relative;
}
/* title */
header>.header-title {
 width: 770px;
 font-size: 60px;
 line-height: 10rem;
}
.header-description{
 width:800px;
 line-height: 3rem;
 font-size: 1.3rem;
}
/* slide left and right */
.slide-right,.slide-left{
 height: 100px;
 width: 100px;
 background: #00a2e8;
 position:absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
}
.slide-right:hover,.slide-left:hover{
 background: black;
 color: black;
}
.slide-left{
 left: 0;
}
.slide-right{
 right: 0;
 transform:rotate(180deg);
}
/* circles */
.circles{
 bottom: 2rem;
 position: absolute;
 display: flex;
}
.circle{
 width:20px;
 height:20px;
 background: transparent ;
 border: 3px solid #00a2e8;
 border-radius: 50%;
 margin: 0 .5rem;
}
.circle:nth-last-of-type(3){
 background: #00a2e8;
}
/*------------- header styles end ------------- */
