/* nav bar styles */
nav {
  height: 90px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cart-icon {
  width: 30px;
}
.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
}
@media screen and (min-width: 768px) {
  /* toggle */
  .toggle{
    display: none;
  }
/* nav-links */
.nav-links {
  margin-left: 30vw;
}
.nav-link {
  display: inline-block;
  margin: 0 1rem;
}
.nav-link > a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.nav-link > a:hover {
  color: #00a2e8;
}


}

/* ------------ nav links and toggle end ------------- */
