/* ------------- offer styles ------------- */
.offer{
 height: 300px;
 color: white;
 background: #378cc4;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.offer-header{
 font-size: 3rem;
}
.offer-desc{
 margin-top: 2rem;
 font-size: 2rem;
}
/* ------------- offer styles end------------- */